@font-face {
    font-family: OpenSans-Regular;
    src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url("./fonts/Poppins-SemiBold.ttf");
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.attribution a {
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
}

body {
    background-color: #684BB1;
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/bg-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

img {
    display: block;
}

.container {
    max-width: 1275px;
    margin: auto;
    padding-top: 64px;
}

.logo {
    max-width: 200px;
    margin-bottom: 80px;
}

.content {
    display: flex;
    margin-bottom: 25px;
}

.content .left,
.content .right {
    width: 50%;
}

.content .right {
    padding-left: 60px;
}

.content img {
    width: 100%;
}

.content h1 {
    font-family: Poppins-SemiBold;
    color: #fff;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 24px;
}

.content p {
    font-family: OpenSans-Regular;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 24px;
}

.content a {
    font-family: Poppins-Regular;
    color: #684BB1;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    height: 55px;
    border-radius: 100px;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content a:hover {
    background-color: #E880E8;
    color: #fff;
}

.social {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.social a {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social img {
    width: auto;
    height: 20px;
    filter: brightness(10);
}

.social a:hover {
    border: 1px solid #FF52C1;
}

.social a:hover img {
    filter: brightness(1);
}

@media (max-width: 376px) {
    body {
        background-image: url("./images/bg-mobile.svg");
        background-size: contain;
    }

    .container {
        max-width: 305px;
        padding-top: 40px;
    }

    .logo {
        max-width: 120px;
        margin-bottom: 60px;
    }

    .content {
        flex-direction: column;
    }

    .content .left,
    .content .right {
        width: 100%;
    }

    .content .right {
        padding-left: 0;
        padding-top: 60px;
    }

    .content h1 {
        font-size: 24px;
        line-height: 38px;
        text-align: center;
    }

    .content p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .content a {
        margin: auto;
        height: 40px;
        font-size: 12px;
    }

    .social {
        margin-top: 50px;
        justify-content: center;
    }

    .social a {
        width: 28px;
        height: 28px;
    }

    .social a img {
        height: 14px;
    }
}